<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be.civadis.financeservice.mapper.ArticleBudgetMapper">

    <!--TODO : compléter mapping-->
    <resultMap id="articleBudg" type="be.civadis.financeservice.domain.ArticleBudg">
        <result column="ID_INFO_ART_BUDGET" property="id"/>
        <result column="an_exercice" property="exercice"/>
        <result column="article" property="code"/>
        <result column="lib_1lg" property="nom"/>
        <result column="type" property="type"/>
        <result column="service" property="serviceBudget"/>
        <result column="an_millesime" property="millesime"/>
        <!--result column="" property="isMillesime"/-->
        <result column="is_assujetti_tva" property="assujettissementTVA"/>
        <!--result column="" property="budgetInitial"/-->
        <result column="credit_actuel_dispo_euro" property="budgetEnCours"/>
        <result column="tous_credits" property="tousCredits"/>
        <result column="reserv_non_engage" property="montantReserveNonEngage"/>
        <result column="calcul3_euro" property="montantEngage"/>
        <result column="calcul6_euro" property="montantImpute"/>
        <result column="calcul4_euro" property="disponible"/>
        <result column="mnt_compte_n_moins_1_euro" property="compteNMoins1"/>
        <result column="mnt_compte_n_moins_2_euro" property="compteNMoins2"/>
        <result column="mnt_compte_n_moins_3_euro" property="compteNMoins3"/>
        <result column="mnt_compte_n_moins_4_euro" property="compteNMoins4"/>
        <result column="mnt_compte_n_moins_5_euro" property="compteNMoins5"/>
        <result column="mnt_adapte_n_moins_1_euro" property="montantAdapteNMoins1"/>
        <result column="mnt_n_moins_1_euro" property="budgetNMoins1"/>
        <result column="groupe_eco_code" property="groupeEconomique"/>
        <result column="COD_ECO" property="codeEconomique"/>
        <result column="COD_FONCT" property="codeFonctionnel"/>
        <!--result column="" property="codeProjet"/-->
        <!--result column="" property="codeEconomiqueComplet"/-->
    </resultMap>

    <select id="test" resultType="long">
        select 1 from dual
    </select>

    <select id="findArticleListByCriteria" resultMap="articleBudg" parameterType="hashMap">
        select art.id_info_art_budget,
        art.an_exercice,
        art.article,
        art.lib_1lg,
        art.lib_2lg,
        FCT.ID_INFO_CODFONC,
        fct.COD_FONCT,
        ECO.ID_INFO_CODECO,
        eco.COD_ECO,
        eco.NUM_ORD,
        eco.COD_ECO_NUM_ORDRE,
        art.an_millesime,
        art.code_analy_libre,
        groupe_eco.cod_grp_eco as groupe_eco_code,
        groupe_eco.lib_court_1LG as groupe_eco_libelle,
        decode(eco.cod_dep_recette,'10','Depense','Recette') as type,
        decode(eco.cod_srv,'10','Ordinaire','Extraordinaire') as service,
        art.mnt_compte_n_moins_5_euro,
        art.mnt_compte_n_moins_4_euro,
        art.mnt_compte_n_moins_3_euro,
        art.mnt_compte_n_moins_2_euro,
        art.mnt_compte_n_moins_1_euro,
        art.mnt_n_moins_1_euro,
        art.mnt_adapte_n_moins_1_euro,
        art.mnt_n_euro,
        art.credit_actuel_dispo_euro,
        art.calcul3_euro,
        art.calcul4_euro,
        art.calcul5_euro,
        art.calcul6_euro,
        art.reserv_credit,
        art.reserv_util,
        (art.reserv_credit - art.reserv_util) as reserv_non_engage,
        <if test="withTousCredits==true">
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',0) as tous_credits,
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',2) as credits_en_cours,
        </if>
        art.is_assujetti_tva,
        eco.cod_Dep_recette,
        ECO.COD_SRV
        from nccc_art_budget art,
        nccc_codes_fonctionnels fct,
        nccc_groupe_economique groupe_eco,
        nccc_code_economique eco

        <if test="codeProjet!=null">
            , NCCC_PROJET_EXT projet
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <!-- si utilisation des sous-budget, l'identifiant du departement est une foreignKey dans l'article -->
            <if test="whereDepIdsWithoutSousBudget != null">
                , NCCC_ARTICLE_DEPARTEMENT ARTDEP
            </if>
        </if>

        <if test="whereGroupIds != null">
            ,nccc_sec_groupe_article sec ,
            nccc_sec_groupe grp
        </if>

        where ART.ID_INFO_CODECO = ECO.ID_INFO_CODECO
        and ART.ID_INFO_CODFONC = FCT.ID_INFO_CODFONC
        and groupe_eco.ID_INFO_GRPECO = ECO.id_info_grpeco(+)

        <if test="codeProjet!=null">
            and projet.ID_INFO_PRJ(+) = ART.ID_INFO_PRJ
        </if>

        <if test="whereGroupIds != null">
            and SEC.ID_INFO_ART_BUDGET  = ART.ID_INFO_ART_BUDGET
            and grp.id_info = SEC.ID_INFO_GRP and
            <!-- le choix 1 signifie que le groupe a acces a tous les articles -->
            <![CDATA[ grp.choix <> '1' ]]>
            and ( ${whereGroupIds} )
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <if test="whereDepIdsWithoutSousBudget != null">
                and ART.ID_INFO_ART_BUDGET = ARTDEP.ID_INFO_ART_BUDGET
                and ( ${whereDepIdsWithoutSousBudget} )
            </if>
        </if>

        <!-- si utilisation des sous-budgets, on va regarder les departements dans l'article -->

        <if test="isSousBudget==true">
            <if test="whereDepIdsWithSousBudget != null">
                and ( ${whereDepIdsWithSousBudget} )
            </if>
        </if>

        <if test="whereIds != null">
            and ( ${whereIds} )
        </if>

        <if test="articleId!=null">
            and art.id_info_art_budget = #{articleId, javaType=Long}
        </if>

        <if test="cod_dep_recette != null">
            and  eco.cod_dep_recette = #{cod_dep_recette, javaType=String}
        </if>
        <if test="cod_ordi_extra != null">
            and  eco.cod_srv = #{cod_ordi_extra, javaType=String}
        </if>
        <if test="exercice != null">
            and art.an_exercice = #{exercice, javaType=String}
        </if>

        <if test="isCodeStrict==true">
            <if test="code != null">
                and lower(art.article) like  lower(#{code, javaType=String})
            </if>
        </if>
        <if test="isCodeStrict==false">
            <if test="code != null">
                and lower(art.article) like  lower('%' || #{code, javaType=String} || '%')
            </if>
        </if>

        <if test="projetId!=null">
            and art.ID_INFO_PRJ = #{projetId, javaType=Long}
        </if>

        <if test="codeProjet!=null">
            and projet.COD_PRJ = #{codeProjet, javaType=String}
        </if>

        <if test="withMillesime!=null">
            <if test="withMillesime==true">
                and art.an_exercice != art.an_millesime
            </if>
            <if test="withMillesime==false">
                and art.an_exercice = art.an_millesime
            </if>
        </if>

        Union
        select art.id_info_art_budget,
        art.an_exercice,
        art.article,
        art.lib_1lg,
        art.lib_2lg,
        FCT.ID_INFO_CODFONC,
        fct.COD_FONCT,
        ECO.ID_INFO_CODECO,
        eco.COD_ECO,
        eco.NUM_ORD,
        eco.COD_ECO_NUM_ORDRE,
        art.an_millesime,
        art.code_analy_libre,
        groupe_eco.cod_grp_eco as groupe_eco_code,
        groupe_eco.lib_court_1LG as groupe_eco_libelle,
        decode(eco.cod_dep_recette,'10','Depense','Recette') as type,
        decode(eco.cod_srv,'10','Ordinaire','Extraordinaire') as service,
        art.mnt_compte_n_moins_5_euro,
        art.mnt_compte_n_moins_4_euro,
        art.mnt_compte_n_moins_3_euro,
        art.mnt_compte_n_moins_2_euro,
        art.mnt_compte_n_moins_1_euro,
        art.mnt_n_moins_1_euro,
        art.mnt_adapte_n_moins_1_euro,
        art.mnt_n_euro,
        art.credit_actuel_dispo_euro,
        art.calcul3_euro,
        art.calcul4_euro,
        art.calcul5_euro,
        art.calcul6_euro,
        art.reserv_credit,
        art.reserv_util,
        (art.reserv_credit - art.reserv_util) as reserv_non_engage,
        <if test="withTousCredits==true">
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',0) as tous_credits,
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',2) as credits_en_cours,
        </if>
        art.is_assujetti_tva,
        eco.cod_Dep_recette,
        ECO.COD_SRV
        from nccc_art_budget art,
        nccc_codes_fonctionnels fct,
        nccc_groupe_economique groupe_eco,
        nccc_code_economique eco,
        nccc_sec_groupe grp

        <if test="codeProjet!=null">
            , NCCC_PROJET_EXT projet
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <!-- si utilisation des sous-budget, l'identifiant du departement est une foreignKey dans l'article -->
            <if test="whereDepIdsWithoutSousBudget != null">
                , NCCC_ARTICLE_DEPARTEMENT ARTDEP
            </if>
        </if>

        where ART.ID_INFO_CODECO = ECO.ID_INFO_CODECO
        and ART.ID_INFO_CODFONC = FCT.ID_INFO_CODFONC
        and groupe_eco.ID_INFO_GRPECO = ECO.id_info_grpeco(+)
        and
        <!-- le choix 1 signifie que le groupe a acces a tous les articles -->
        grp.choix = '1'

        <if test="codeProjet!=null">
            and projet.ID_INFO_PRJ(+) = ART.ID_INFO_PRJ
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <if test="whereDepIdsWithoutSousBudget != null">
                and ART.ID_INFO_ART_BUDGET = ARTDEP.ID_INFO_ART_BUDGET
                and ( ${whereDepIdsWithoutSousBudget} )
            </if>
        </if>

        <!-- si utilisation des sous-budgets, on va regarder les departements dans l'article -->

        <if test="isSousBudget==true">
            <if test="whereDepIdsWithSousBudget != null">
                and ( ${whereDepIdsWithSousBudget} )
            </if>
        </if>

        <if test="whereGroupIds != null">
            and ( ${whereGroupIds} )
        </if>
        <if test="whereIds != null">
            and ( ${whereIds} )
        </if>

        <if test="articleId!=null">
            and art.id_info_art_budget = #{articleId, javaType=Long}
        </if>

        <if test="cod_dep_recette != null">
            and  eco.cod_dep_recette = #{cod_dep_recette, javaType=String}
        </if>
        <if test="cod_ordi_extra != null">
            and  eco.cod_srv = #{cod_ordi_extra, javaType=String}
        </if>
        <if test="exercice != null">
            and art.an_exercice = #{exercice, javaType=String}
        </if>

        <if test="isCodeStrict==true">
            <if test="code != null">
                and lower(art.article) like  lower(#{code, javaType=String})
            </if>
        </if>
        <if test="isCodeStrict==false">
            <if test="code != null">
                and lower(art.article) like  lower('%' || #{code, javaType=String} || '%')
            </if>
        </if>

        <if test="projetId!=null">
            and art.ID_INFO_PRJ = #{projetId, javaType=Long}
        </if>

        <if test="codeProjet!=null">
            and projet.COD_PRJ = #{codeProjet, javaType=String}
        </if>

        <if test="withMillesime!=null">
            <if test="withMillesime==true">
                and art.an_exercice != art.an_millesime
            </if>
            <if test="withMillesime==false">
                and art.an_exercice = art.an_millesime
            </if>
        </if>

    </select>

    <select id="countArticlesByCriteria" resultType="long" parameterType="hashMap">
        select count(*) from (
        select art.id_info_art_budget
        from nccc_art_budget art,
        nccc_code_economique eco

        <if test="codeProjet!=null">
            , NCCC_PROJET_EXT projet
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <!-- si utilisation des sous-budget, l'identifiant du departement est une foreignKey dans l'article -->
            <if test="whereDepIdsWithoutSousBudget != null">
                , NCCC_ARTICLE_DEPARTEMENT ARTDEP
            </if>
        </if>

        <if test="whereGroupIds != null">
            ,nccc_sec_groupe_article sec ,
            nccc_sec_groupe grp
        </if>

        where ART.ID_INFO_CODECO = ECO.ID_INFO_CODECO

        <if test="codeProjet!=null">
            and projet.ID_INFO_PRJ(+) = ART.ID_INFO_PRJ
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <if test="whereDepIdsWithoutSousBudget != null">
                and ART.ID_INFO_ART_BUDGET = ARTDEP.ID_INFO_ART_BUDGET
                and ( ${whereDepIdsWithoutSousBudget} )
            </if>
        </if>

        <!-- si utilisation des sous-budgets, on va regarder les departements dans l'article -->

        <if test="isSousBudget==true">
            <if test="whereDepIdsWithSousBudget != null">
                and ( ${whereDepIdsWithSousBudget} )
            </if>
        </if>

        <if test="whereGroupIds != null">
            and SEC.ID_INFO_ART_BUDGET  = ART.ID_INFO_ART_BUDGET
            and grp.id_info = SEC.ID_INFO_GRP and
            <!-- le choix 1 signifie que le groupe a acces a tous les articles -->
            <![CDATA[ grp.choix <> '1' ]]>
            and ( ${whereGroupIds} )
        </if>

        <if test="whereIds != null">
            and ( ${whereIds} )
        </if>

        <if test="cod_dep_recette != null">
            and  eco.cod_dep_recette = #{cod_dep_recette, javaType=String}
        </if>
        <if test="cod_ordi_extra != null">
            and  eco.cod_srv = #{cod_ordi_extra, javaType=String}
        </if>
        <if test="exercice != null">
            and art.an_exercice = #{exercice, javaType=String}
        </if>

        <if test="isCodeStrict==true">
            <if test="code != null">
                and lower(art.article) like  lower(#{code, javaType=String})
            </if>
        </if>
        <if test="isCodeStrict==false">
            <if test="code != null">
                and lower(art.article) like  lower('%' || #{code, javaType=String} || '%')
            </if>
        </if>

        <if test="projetId!=null">
            and art.ID_INFO_PRJ = #{projetId, javaType=Long}
        </if>

        <if test="codeProjet!=null">
            and projet.COD_PRJ = #{codeProjet, javaType=String}
        </if>

        <if test="withMillesime!=null">
            <if test="withMillesime==true">
                and art.an_exercice != art.an_millesime
            </if>
            <if test="withMillesime==false">
                and art.an_exercice = art.an_millesime
            </if>
        </if>

        UNION
        select art.id_info_art_budget
        from nccc_art_budget art,
        nccc_code_economique eco,
        nccc_sec_groupe grp

        <if test="codeProjet!=null">
            , NCCC_PROJET_EXT projet
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <!-- si utilisation des sous-budget, l'identifiant du departement est une foreignKey dans l'article -->
            <if test="whereDepIdsWithoutSousBudget != null">
                , NCCC_ARTICLE_DEPARTEMENT ARTDEP
            </if>
        </if>

        where ART.ID_INFO_CODECO = ECO.ID_INFO_CODECO and
        <!-- le choix 1 signifie que le groupe a acces a tous les articles -->
        grp.choix = '1'

        <if test="codeProjet!=null">
            and projet.ID_INFO_PRJ(+) = ART.ID_INFO_PRJ
        </if>

        <if test="isSousBudget==false">
            <!-- si pas d'utilisation des sous-budget, utilisation d'une table de liaison -->
            <if test="whereDepIdsWithoutSousBudget != null">
                and ART.ID_INFO_ART_BUDGET = ARTDEP.ID_INFO_ART_BUDGET
                and ( ${whereDepIdsWithoutSousBudget} )
            </if>
        </if>

        <!-- si utilisation des sous-budgets, on va regarder les departements dans l'article -->

        <if test="isSousBudget==true">
            <if test="whereDepIdsWithSousBudget != null">
                and ( ${whereDepIdsWithSousBudget} )
            </if>
        </if>

        <if test="whereGroupIds != null">
            and ( ${whereGroupIds} )
        </if>
        <if test="whereIds != null">
            and ( ${whereIds} )
        </if>
        <if test="cod_dep_recette != null">
            and  eco.cod_dep_recette = #{cod_dep_recette, javaType=String}
        </if>
        <if test="cod_ordi_extra != null">
            and  eco.cod_srv = #{cod_ordi_extra, javaType=String}
        </if>
        <if test="exercice != null">
            and art.an_exercice = #{exercice, javaType=String}
        </if>

        <if test="isCodeStrict==true">
            <if test="code != null">
                and lower(art.article) like lower(#{code, javaType=String})
            </if>
        </if>
        <if test="isCodeStrict==false">
            <if test="code != null">
                and lower(art.article) like lower('%' || #{code, javaType=String} || '%')
            </if>
        </if>

        <if test="projetId!=null">
            and art.ID_INFO_PRJ = #{projetId, javaType=Long}
        </if>

        <if test="codeProjet!=null">
            and projet.COD_PRJ = #{codeProjet, javaType=String}
        </if>

        <if test="withMillesime!=null">
            <if test="withMillesime==true">
                and art.an_exercice != art.an_millesime
            </if>
            <if test="withMillesime==false">
                and art.an_exercice = art.an_millesime
            </if>
        </if>

        )
    </select>

    <select id="findArticleDetail" resultMap="articleBudg" parameterType="hashMap">
        select art.id_info_art_budget,
        art.an_exercice,
        art.article,
        art.lib_1lg,
        art.lib_2lg,
        FCT.ID_INFO_CODFONC,
        fct.COD_FONCT,
        ECO.ID_INFO_CODECO,
        eco.COD_ECO,
        eco.NUM_ORD,
        eco.COD_ECO_NUM_ORDRE,
        art.an_millesime,
        art.code_analy_libre,
        groupe_eco.cod_grp_eco as groupe_eco_code,
        groupe_eco.lib_court_1LG as groupe_eco_libelle,
        decode(eco.cod_dep_recette,'10','Depense','Recette') as type,
        decode(eco.cod_srv,'10','Ordinaire','Extraordinaire') as service,
        art.mnt_compte_n_moins_5_euro,
        art.mnt_compte_n_moins_4_euro,
        art.mnt_compte_n_moins_3_euro,
        art.mnt_compte_n_moins_2_euro,
        art.mnt_compte_n_moins_1_euro,
        art.mnt_n_moins_1_euro,
        art.mnt_adapte_n_moins_1_euro,
        art.mnt_n_euro,
        art.credit_actuel_dispo_euro,
        art.calcul3_euro,
        art.calcul4_euro,
        art.calcul5_euro,
        art.calcul6_euro,
        art.reserv_credit,
        art.reserv_util,
        (art.reserv_credit - art.reserv_util) as reserv_non_engage,
        <if test="withTousCredits==true">
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',0) as tous_credits,
            nccc_get_mnt_mvt_alc_crdt_art(art.id_info_art_budget,'1|2|4|5|6','EURO',2) as credits_en_cours,
        </if>
        art.is_assujetti_tva,
        eco.cod_Dep_recette,
        ECO.COD_SRV
        from nccc_art_budget art,
        nccc_codes_fonctionnels fct,
        nccc_groupe_economique groupe_eco,
        nccc_code_economique eco

        where ART.ID_INFO_CODECO = ECO.ID_INFO_CODECO
        and ART.ID_INFO_CODFONC = FCT.ID_INFO_CODFONC
        and groupe_eco.ID_INFO_GRPECO = ECO.id_info_grpeco(+)

        <if test="articleId!=null">
            and art.id_info_art_budget = #{articleId, javaType=Long}
        </if>

        <if test="code != null">
            and lower(art.article) like  lower(#{code, javaType=String})
        </if>

    </select>

    <select id="isSousBudget" resultType="boolean" >
        select sous_budget from nccc_parametres_communs
    </select>


</mapper>
